# Основные зависимости
pydantic>=2.0.0
python-dotenv>=1.0.0

# Зависимости для тестирования
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-html>=3.2.0
pytest-xdist>=3.3.0
factory-boy>=3.3.0
faker>=19.0.0
freezegun>=1.2.0
responses>=0.23.0

# Линтеры и форматтеры
black>=23.0.0
flake8>=6.0.0
mypy>=1.5.0
isort>=5.12.0
